{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
Round {{round_number}}
{% endblock %}


{% block content %}

<div style="margin-left: 30px">
{% if role == 'seller' %}
<h1>You are a <b>SELLER</b> </h1>

<h3 style="color:{{color}};padding-bottom: 10px"> You have been assigned {{color}} tickets.</h3>

<p style="font-size: x-large;"> At the seller stage, you chose to sell <b>{{quantity}}</b> of these tickets in the auction. </p>

<p style="font-size: x-large;">Click "next" to proceed to the auction.</p>
{% next_button %}

{% endif %}

{% if role == 'buyer' %}
<h1>You are a <b>BUYER</b> </h1>


<p style="font-size: x-large"> There {{to_be}} <b>{{quantity}} ticket{{plural}}</b> for sale in the auction. You have <b>{{group.buyer_endowment}} francs</b>
    to spend.</p>

<p style="font-size: x-large"> The last buyer remaining purchases the ticket{{plural}}. After the auction, {{pronoun}} {{quantity}} ticket{{plural}}
    will be exchanged for:</p>

<ul style="font-size: x-large">
    <li style="padding-bottom:10px"> {{quantity}}&times;{{group.fH}}= {{vH}} francs if the ticket{{plural}} {{to_be}} <a style="color:green">green</a> or </li>
    <li>{{quantity}}&times;{{group.fL}}= {{vL}} francs if the ticket{{plural}} {{to_be}} <a style="color:blue">blue</a>.</li>
</ul>
<p style="font-size: x-large">Click "Next" to proceed to the auction.</p>
{% next_button %}
<div style="padding-bottom:5px "></div>
<hr style="">

{% if round_number > 1 %}
{% include 'includes/history_buyer.html' %}
{% endif %}
    {% endif %}

</div>
{% endblock %}


