{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
Round {{round_number}}
{% endblock %}


{% block content %}

<p> You have been selected to be a <b>{{role}}</b> for this round. </p>

{% if role == 'seller' %}

<p> You chose to sell {{quantity}} {{color}} ticket{{plural}} in the auction.</p>
<p>Click "next" to proceed to the auction.</p>
{% next_button %}

{% endif %}

{% if role == 'buyer' %}

<p> There {{to_be}} <b>{{quantity}} ticket{{plural}}</b> for sale in the auction. You have <b>{{group.buyer_endowment}} francs</b>
    to spend in
    the auction.</p>

<p> If you win the auction, you will be given the {{quantity}} ticket{{plural}}. At the end of the round, {{pronoun}} {{quantity}} ticket{{plural}}
    will be exchanged for:</p>

<ul>
    <li style="padding-bottom:10px"> {{quantity}}&times;{{group.fH}}= {{vH}} francs if the ticket{{plural}} {{to_be}} <a style="color:green">green</a> or </li>
    <li>{{quantity}}&times;{{group.fL}}= {{vL}} francs if the ticket{{plural}} {{to_be}} <a style="color:blue">blue</a>.</li>
</ul>
<p>Click "next" to proceed to the auction.</p>
{% next_button %}
<div style="padding-bottom:5px "></div>
<hr style="">
<h3 style="text-align: center;">History</h3>
{% include 'includes/history_buyer.html' %}
{% endif %}


{% endblock %}


