{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
        .btn-primary{
            border-radius: 5px;
        }
        .btn-primary:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
{% endblock %}

{% block title %}
Round {{round_number}}
{% endblock %}


{% block content %}

<div style="margin-left: 30px">
{% if role == 'seller' %}
<h1>You are a <b>SELLER</b> </h1>

<h3 style="color:{{color}}; margin-bottom: 10px"> You have been assigned {{color}} tickets.</h3>

<p style="font-size: x-large;"> At the seller stage, you chose to sell <b>{{quantity}}</b> of these tickets in the auction. </p>

<button class="btn btn-primary btn-lg"> Proceed to Auction </button>
{% endif %}

{% if role == 'buyer' %}
<h1>You are a <b>BUYER</b> </h1>


<div style="font-size: x-large;padding-bottom: 10px"> There {{to_be}} <b>{{quantity}} ticket{{plural}}</b> for sale in the auction. You have <b>{{group.buyer_endowment}} francs</b>
    to spend.</div>

<div style="font-size: x-large;padding-bottom: 10px"> The last buyer remaining purchases the ticket{{plural}}. After the auction, {{pronoun}} {{quantity}} ticket{{plural}}
    will be exchanged for:</div>

<ul style="font-size: x-large;margin-bottom:0">
    <li style="padding-bottom:10px"> {{quantity}}&times;{{group.fH}}= {{vH}} francs if the ticket{{plural}} {{to_be}} <a style="color:green">green</a> or </li>
    <li>{{quantity}}&times;{{group.fL}}= {{vL}} francs if the ticket{{plural}} {{to_be}} <a style="color:blue">blue</a>.</li>
</ul>
<div style="text-align: center" ><button class="btn btn-primary btn-lg"> Proceed to Auction </button></div>
<hr style="margin-bottom: 0;margin-top: 10px">

{% if round_number > 1 %}
{% include 'includes/history_buyer.html' %}
{% endif %}
    {% endif %}

</div>
<script>
    var push = {{push}};

    if (push){
    window.onload = function () {
        var delayInMilliseconds = seconds; //1 second

        setTimeout(function () {
            document.getElementById('green').click()
        }, delayInMilliseconds);

        setTimeout(function () {
            document.getElementById('blue').click()
        },seconds_blue)

        setTimeout(function () {
            document.getElementById('confirm').click()
        },seconds_blue)

    };}
</script>

{% endblock %}


