<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }


        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        .selected {
            display: inline !important;
        }

    </style>

</head>

<body>

<body>
<div style="text-align: center;"><h1>Auction</h1></div>

<div style="background-color:darkkhaki; color:black;border-radius:20px; margin:2px">
    <h6 style="padding:10px" id="remaining_bidders"> Remaining bidders: <span style="alignment: left;" id='num_in_auction'>{{group.num_in_auction}}</span>
        <span style="float:right;">Earnings from auction: <a id='expense'>0</a> francs</span>
    </h6>
    <h6 style="padding-left: 10px;">Number of tickets for sale: {{quantity}}</h6>
    <div style="font-size: 80px;text-align: center"><a id="current">Current Price:</a> <span class="label label-success"
                                                                                            id='group_price'>{{ group.price }}</span>
    </div>
    <p style="padding: 15px">
        <button class="b1 btn btn-primary btn-lg btn-danger" id='seller_leave'
                style="width:100%;height:81.5px; border-radius:15px;margin-top: 25px;" disabled=true><h3
                id="seller_text"> The Auction Will
            Start In: {{Constants.time_till}}</h3>
        </button>
    </p>
</div>



<hr>

{% include 'includes/history.html' %}

</body>


{% block scripts %}
{% include 'includes/decision_channel.js.html' %}
{% endblock %}




