{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Bid
{% endblock %}


{% block content %}
<p> There are {{quantity}} tickets for sale in this auction. </p>

<p> There are <span id='num_in_auction'>{{group.num_in_auction}}</span> bidders in the auction. </p>

<div class="jumbotron">
    <h3>Current price: <span class="label label-success" id='group_price'>{{ group.price }}</span></h3>
    <div class="col-xs-12" style="height:10px;"></div>
    <p>
        <button class="btn btn-primary btn-lg btn-danger" onclick='sendmessage()'>Exit the auction</button>
    </p>
</div>

{% block scripts %}
{% include 'includes/decision_channel.js.html' %}
{% endblock %}


{% endblock %}


