{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Sell
{% endblock %}


{% block content %}

<p style="color:{{player.seller_color}};">If you are chosen to be the seller, your tickets will be
    {{player.seller_color}}.</p>

{% formfield player.quantity_choice label='Please the number of tickets you would like to sell, if you are chosen to be the group seller.' %}

<p>{% next_button %}</p>

{% if roundNumber  > 1 %}
{% include 'includes/history.html' %}
{% endif %}


{% endblock %}