{% extends "global/Page.html" %}
{% load otree staticfiles otree_tags %}

{% block title %}
Round {{round_number}}: Seller
{% endblock %}


{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 800px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<div style="width:100%content-box;height:50px;background-color:darkslategray;color:white;padding-top:0"> </div>

<h3  style="margin-bottom: 0" align="center"> If you are a seller, your tickets may be <a style="color: green"> green </a> or <a style="color: blue"> blue</a>. </h3>

{% include 'includes/strategy_choice.html' %}
{% if round_number > 1 %}
{% include 'includes/history_seller.html' %}
{% endif %}


{% endblock %}

