{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<div style="width:100%content-box;height:50px;background-color:{{player.seller_color}};"></div>


<div class="row">
    <div class="column">
        <h2 style="text-align: center;"> Sell</h2>
        <p>If you are selected to be the seller, you will be given
        <a style = "color:{{player.seller_color}}"> 5 {{player.seller_color}} </a>tickets.</p>

        <p>Please choose the number of tickets you would like to sell if selected to be a seller:</p>
        {% include 'includes/new_buttons.html' %}
    </div>
    <div class="column">
        <h2 style="text-align: center;">History</h2>
        <p> {% if roundNumber > 0 %}
            {% include 'includes/history.html' %}
            {% endif %}
        </p>
    </div>
</div>



{% endblock %}

