{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block styles %}
<style>
    .btn {
        display: inline;
    }
</style>
{% endblock %}

{% block title %}
Timer
{% endblock %}


{% block content %}
<!-- Display the countdown timer in an element -->
<button type="button" id="myButton" onclick="display()"> Test</button>
<button id="demo" style="display:none;">Success!</button>

<script>
    var seconds = Math.random()*10000;
    window.onload = function () {
        var delayInMilliseconds = seconds; //1 second

        setTimeout(function () {
            console.log('hi');
            document.getElementById('myButton').click()
        }, delayInMilliseconds);

    };
       display = function () {
        $('#demo').toggle().html('Success after ' + seconds + ' seconds');
    }


</script>
{% endblock %}





