<head>
 <style>
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
 </style>

</head>
<body>

<div>
    <table class="table">
        <tr>
            <th>
                <button name="quantity_choice" value=1 class="btn btn-primary btn-large button2"
                        style="width:90px;height:60px;background-color:{{player.seller_color}};">1
                </button>
            </th>
            <th>
            <th>
                <button name="quantity_choice" value=2 class="btn btn-primary btn-large button2"
                        style="width:90px;height:60px;background-color:{{player.seller_color}};">2
                </button>
            </th>
            <th>
                <button name="quantity_choice" value=3 class="btn btn-primary btn-large button2"
                        style="width:90px;height:60px;background-color:{{player.seller_color}};">3
                </button>
            </th>
            <th>
                <button name="quantity_choice" value=4 class="btn btn-primary btn-large button2"
                        style="width:90px;height:60px;background-color:{{player.seller_color}};">4
                </button>
            </th>
            <th>
                <button name="quantity_choice" value=5 class="btn btn-primary btn-large button2"
                        style="width:90px;height:60px;background-color:{{player.seller_color}};">5
                </button>
            </th>

        </tr>
    </table>
</div>
</body>
</html>