<script>
    window.onload = function () {
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var wpsocket = new WebSocket(ws_scheme + '://' + window.location.host + "/price_increase/{{player.pk}}/{{ group.pk }}");

        // Handle any errors that occur.
        wpsocket.onerror = function (error) {
            console.log('WebSocket Error: ' + error);
        };

        // Show a connected message when the WebSocket is opened.
        wpsocket.onopen = function (event) {

            console.log('connected to oTree');
        };

        // Handle messages sent by the server.
        wpsocket.onmessage = function (event) {


            var obj = jQuery.parseJSON(event.data);
            // These vars need to be sent by the exit button
            var over = obj.over; // Only true when auction maxes out or only 1 bidder remaining
            var start = obj.started; // True when group proceeds to auction page, begins time_till counter
            var activated = obj.activated; // Is true when time_till hits zero, so bidding begins
            var activate_exit = obj.activate_exit; // Is only true when time_till hits zero and false otherwise

            // Moves participant to next page when participant clicks "proceed" button after auction ends
            if (obj.accept) {
                $('form').submit();
            }

            // Only executes when auction group is waiting to begin
            if (start && !activated) {
                $('#tminus').html('The Auction Will Start In ' + obj.time_till);
                $('#seller_text').html('The Auction Will Start In ' + obj.time_till);
            }

            // Activates auction exit button
            if (activated && activate_exit) {
                $('#tminus').html('Exit Auction');
                $('#exit').prop('disabled', false);
                $('#seller_text').html('Please Wait');
            }

            // Code to increment prices and update number of bidders remaining
            if (activated && !activate_exit) {
                $('#expense').html(obj.expense)
                $('#group_price').html(obj.price)
                $('#num_in_auction').html(obj.num)
                $('#tminus').html('Exit Auction');
                $('#exit').prop('disabled', false);
                $('#seller_text').html('Please Wait');
            }

            // Hides and disables exit button; shows and activates proceed button
            if (over) {
                $('#exit').css('display', 'none');
                $('#wait').css('display', 'inline');
                $('#wait').prop('disabled', false);
                $('#something').html('Auction Over: Click to Proceed');
                $('#current').html('Final Price:');
                $('#current').addClass('text-danger');
                $('#group_price').addClass('text-danger');
                $('#seller_leave').addClass('button2');
                $('#seller_leave').prop('disabled', false);
                $('#seller_text').html('Auction Over: Click to Proceed');
                $('#num_in_auction').html(obj.num)
                //
                //     } else if (!obj.button_activated) {
                //         if (obj.dummy == 0) {
                //             $('#tminus').html('Exit Auction');
                //         } else {
                //             $('#tminus').html('The Auction Will Start In: ' + obj.time_till);
                //             $('#seller_text').html('The Auction Will Start In: ' + obj.time_till);
                //         }
                //         $('#expense').html(obj.expense);
                //         $('#exit').prop('disabled', show_button);
                //         $('#group_price').html(obj.price);
                //         $('#num_in_auction').html(obj.num);
                //         $('#over').html(obj.over);
                //         $('#remaining_bidders').css('color', 'black')
                //
                //
                //     } else {
                //         $('#exit').prop('disabled', show_button);
                //         $('#expense').html(obj.expense);
                //         $('#group_price').html(obj.price);
                //         $('#test').html(obj.price);
                //         $('#num_in_auction').html(obj.num);
                //         $('#over').html(obj.over);
                //         $('#tminus').html('Exit Auction');
                //         $('#seller_text').html('Please Wait');
                //         $('#remaining_bidders').css('color', 'black')
            }
        };
        // Not sure if this is redundant
        sendmessage = function (what) {
            var num  = $('#num_in_auction').text()-1
            var over = false
            if (num<=2){
                over = true
            }
            else {
                over = false
            }
            var msg = {
                    'started': true,
                    'activated': true,
                    'activate_exit': false,
                    'over': over,
                    'num': num
                }
            ;
            if (wpsocket.readyState === wpsocket.OPEN) {
                wpsocket.send(JSON.stringify(msg))
            }
        }

        // decrease = function (what) {
        //     var num = $('#num_in_auction').text();
        //     var int_num = num - 1;
        //     console.log(int_num)
        //     $('#num_in_auction').html(int_num)
        //
        // }

        // Show a disconnected message when the WebSocket is closed.
        wpsocket.onclose = function (event) {
            console.log('disconnected from oTree');
        };
    };

</script>
