<script>
    window.onload = function () {

        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var wpsocket = new WebSocket(ws_scheme + '://' + window.location.host + "/price_increase/{{player.pk}}/{{ group.pk }}");

        // Handle any errors that occur.
        wpsocket.onerror = function (error) {
            console.log('WebSocket Error: ' + error);
        };

        // Show a connected message when the WebSocket is opened.
        wpsocket.onopen = function (event) {

            console.log('connected to oTree');
        };

        // Handle messages sent by the server.
        wpsocket.onmessage = function (event) {
            var obj = jQuery.parseJSON(event.data);
            var num = obj.num;
            var over = obj.over;
            var message = 'The Auction Will Start In: ' + obj.time_till;
            if (obj.activated) {
                show_button = false;
                message = 'Exit Auction.';
            }
            if (over) {
                $('#exit').css('display','none');
                $('#wait').css('display','inline');
                $('#wait').prop('disabled',false);
                $('#something').html('The Auction Is Over');

            } else if (!obj.button_activated) {
                console.log('test1');
                $('#expense').html(obj.expense);
                $('#tminus').html(message);
                $('#exit').prop('disabled', show_button);
                $('#group_price').html(obj.price);
                $('#num_in_auction').html(obj.num);
                $('#over').html(obj.over);

            } else {
                console.log('Hello');
                $('#expense').html(obj.expense);
                $('#group_price').html(obj.price);
                $('#test').html(obj.price);
                $('#num_in_auction').html(obj.num);
                $('#over').html(obj.over);
                $('#tminus').html('Exit Auction');
            }
        };
        sendmessage = function (what) {
            var msg = {
                'dummy': 0
        }
            ;
            if (wpsocket.readyState === wpsocket.OPEN) {
                wpsocket.send(JSON.stringify(msg))
            }
        }

        // Show a disconnected message when the WebSocket is closed.
        wpsocket.onclose = function (event) {
            console.log('disconnected from oTree');
        };
    };

</script>
