<head>
    <style>

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        .selected {
            display: inline !important;
        }

        .enabled{
            disabled: false;
        }
    </style>

</head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<body>
<div class="container-fluid text-center">

    <table class="table">
        <tr>
            <th>
                <button type="button" class="btn btn-primary btn-large button2" data-id="0"
                        style="width:70px;height:60px;background-color:{{player.seller_color}};" id="button0">0
                </button>
            </th>
            <th>
                <button type="button" class="btn btn-primary btn-large button2" data-id="1"
                        style="width:70px;height:60px;background-color:{{player.seller_color}};">1
                </button>
            </th>
            <th>
                <button type="button" class="btn btn-primary btn-large button2" data-id="2"
                        style="width:70px;height:60px;background-color:{{player.seller_color}};">2
                </button>
            </th>
            <th>
                <button type="button" class="btn btn-primary btn-large button2" data-id="3"
                        style="width:70px;height:60px;background-color:{{player.seller_color}};">3
                </button>
            </th>
            <th>
                <button type="button" class="btn btn-primary btn-large button2" data-id="4"
                        style="width:70px;height:60px;background-color:{{player.seller_color}};">4
                </button>
            </th>
            <th>
                <button type="button" class="btn btn-primary btn-large button2" data-id="5"
                        style="width:70px;height:60px;background-color:{{player.seller_color}};">5
                </button>
            </th>
        </tr>
    </table>


</div>
<div> Your earnings from this round will be the sum of
    <ul>
        <li>Francs from tickets you keep: {{value}} &times; <a class="b b-text" id="retain" style="display:none"> </a> = <a class="b b-text" id="calc" style="display:none"></a></li>
        <li>Francs from tickets you sell: (auction price) &times; <a class="b b-text" id="keep" style="display:none"> </a></li>
    </ul>
</div>
    <button onclick="$('form').submit()"
            id = "btnsubmit"
            name="quantity_choice" value=1
            class="btn-primary btn-large button2"

            style="width:200px;height:60px;background-color:{{player.seller_color}}; display:none;">Confirm
    </button>
    <button id = "cancel"
            type="button"
            class="btn-primary btn-large button2"
            style="width:200px;height:60px;background-color:orangered;display:none;">Reset
    </button>
</body>

<script>
    $(document).ready(function () {

        $('.btn').hover(function () {
            var id = $(this).attr('data-id');
            var num = {{Constants.Q}}-id;
            document.getElementById('retain').innerHTML = {{Constants.Q}}-id;
            document.getElementById('keep').innerHTML = id;
            document.getElementById('calc').innerHTML = num*{{value}};
            $('.b').show();
        }, function () {
            $('.b-text').hide();
        }).on('click', function () {
            var id = $(this).attr('data-id');
            var num = {{Constants.Q}}-id;
            document.getElementById('retain').innerHTML = {{Constants.Q}}-id;
            document.getElementById('keep').innerHTML = id;
            document.getElementById('calc').innerHTML = num*{{value}};
            $('.b').show();
            $('.b').toggleClass('selected');
            $('.btn ').prop('disabled',true);
            $('.btn-primary').toggleClass('selected');
            $('#btnsubmit').attr('value',id);
        });
        $('#cancel').on('click',function(){
            $('.b').toggleClass('selected');
            $('.btn ').prop('disabled',false)
            $('.btn-primary').toggleClass('selected');
            document.getElementById('retain').innerHTML = '';
            document.getElementById('keep').innerHTML = '';
            document.getElementById('calc').innerHTML = '';
        })
    });
</script>
