<head>
    <style>


        .selected {
            display: none !important;
        }


    </style>
</head>
<body>

<h4> Please answer the following questions. The experiment will begin once all participants have successfully
answered the questions.</h4>

<h5>Questions Completed: <a id="questions_completed">0</a>/<a id="num_questions"></a></h5>
<hr>


<div  class = "q1" id="Question" style="display: inline;">
<a id="question_text"> </a>
    <p style="padding: 20px">
<input type="number" id="answer">
<button type="button" id="submit" onclick="check_answer(current_question)"> Submit</button>
    </p>
</div>


<p>

<a id="hint_1"></a>
</p>


<p style="padding-top: 10px">

<a id="hint_2"></a>
</p>


<button id="next" style="display: none" disabled="true"> Next </button>

</body>

<script>
    var fH = {{fH}};
    var fL = {{fL}};
    var delta = {{delta}};
    var buyer_endowment = {{buyer_endowment}};
    var price = Math.floor(Math.random()*fH+1);
    var number_green = Math.floor(Math.random()*5+1);
    var number_blue = Math.floor(Math.random()*5+1);

    var q0_ans = buyer_endowment;
    var q1_ans = 5*delta*fH;
    var q2_ans = 5*delta*fL;
    var q3_ans = number_green;
    var q4_ans = number_blue;

    // var q1_ans = price*number_tickets+delta*(5-number_tickets)*fH;
    // var q2_ans = price*number_tickets+delta*(5-number_tickets)*fL;
    // var q3_ans = 5*Math.floor(delta*fH);
    // var q4_ans = 5*Math.floor(delta*fL);
    // var q5_ans = buyer_endowment + number_tickets*(fH-price);
    // var q6_ans = buyer_endowment + number_tickets*(fL-price);
    var q7_ans = fH;


    var current_question = 0;
    var question_text = '';
    var question_sequence = [0,1,2,3,4,5];
    // 0: if a buyer does not win the auction
    // 1: if a seller sells x>0 green tickets
    // 2: if a seller sells x>0 blue tickets
    // 3: if a seller sells 0 green tickets
    // 4: if a seller sells 0 blue tickets
    // 5: if a buyer purchases y>0 green tickets
    // 6: if a buyer purchases y>0 blue tickets
    // 7: What is the maximum possible per-ticket price?
    // 8: calculating payments
    var answer_sequence = [q0_ans,q1_ans,q2_ans,q3_ans,q4_ans];
    var last_question = question_sequence.length-1;
    var questions_completed = 0;
    var correct_answer = answer_sequence[current_question];

    var try_count = 0;

    $('#num_questions').html(last_question);
    next_question(current_question);

    function check_answer(question){
        var answer = Number($('#answer').val());
        if (answer == correct_answer){
            alert('Correct!');
            try_count = 0;
            current_question+=1;
            next_question(current_question);
            questions_completed +=1;
            $('#questions_completed').html(questions_completed)
        }
        else {
            alert('Incorrect. Please try again.' + correct_answer);
            try_count +=1;
            display_hint(question,try_count);
        }

    }

    function next_question(question){
        if (question == last_question){
            $('.q1').toggleClass('selected');
            $('#next').css('display','inline');
            $('#next').prop('disabled',false);
            alert('You have finished all the questions. Please click next to continue.')
        }
        else{
            if (question==0){
                question_text = 'Question 1: Suppose you are a buyer, and you do not purchase any tickets in the auction. ' +
                    'How many francs do you earn in the round?';
            }
            if (question==1){
                question_text = 'Question 2: Suppose you choose to sell 0 green tickets at stage 1, and you are selected ' +
                    'to be a seller with green tickets. ' +
                    'How many francs do you earn in the round?';
            }
            if (question==2){
                question_text = 'Question 3: Suppose you choose to sell 0 blue tickets at stage 1, and you are selected ' +
                    'to be a seller with blue tickets. ' +
                    'How many francs do you earn in the round?';
            }
           if (question==3){
                question_text = 'Question 4: Suppose you choose to sell ' + number_green  +  ' green tickets and '
                    + number_blue + ' blue  tickets at stage 1, and you are selected ' +
                    'to be a seller with green tickets. ' +
                    'How many tickets do you sell in the auction?';
            }
           if (question==4){
                question_text = 'Question 4: Suppose you choose to sell ' + number_green  +  ' green tickets and '
                    + number_blue + ' blue  tickets at stage 1, and you are selected ' +
                    'to be a seller with blue tickets. ' +
                    'How many tickets do you sell in the auction?';
            }
            display_hint(question,0);
            $('#question_text').html(question_text);
            correct_answer = answer_sequence[question];
        }
    }

    function display_hint(question,tries){
        var hint_1_text = '';
        var hint_2_text = '';
        if (question==0){
            if (tries >= 1 ){
                hint_1_text = 'Hint: If you do not purchase any tickets as a buyer, your earnings for the round is equal ' +
                'to the number of francs you started with.';
            }
            if (tries >= 2 ){
                hint_2_text = 'Hint: You start with ' + buyer_endowment + ' francs as a buyer.';
            }
        }
        $('#hint_1').html(hint_1_text);
        $('#hint_2').html(hint_2_text);
    }
    // function display_question(question){
    //     if (question == 0){
    //         question_text = 'Suppose you are a buyer, and you do not win the auction.';
    //     }
    //     if (question == 1){
    //         question_text = 'Suppose that you are a seller with green tickets and that you choose to sell ' + number_tickets
    //         + ' tickets for a price of ' + price + ' francs per-ticket.'
    //     }
    //     if (question == 2){
    //         question_text = 'Suppose that you are a seller with blue tickets and that you choose to sell ' + number_tickets
    //         + ' tickets for a price of ' + price + ' francs per-ticket.'
    //     }
    //     if (question == 3){
    //         question_text = 'Suppose that you are a seller with green tickets and that you choose to sell ' + 0
    //         + ' tickets.'
    //     }
    //     if (question == 4){
    //         question_text = 'Suppose that you are a seller with blue tickets and that you choose to sell ' + 0
    //         + ' tickets.'
    //     }
    //     if (question == 5){
    //         question_text = 'Suppose that you are a buyer, and you purchase ' + number_tickets
    //         + ' tickets for a price of ' + price + ' francs per-ticket. After the auction is over, you learn the tickets are green.'
    //     }
    //     if (question == 6){
    //         question_text = 'Suppose that you are a buyer, and you purchase ' + number_tickets
    //         + ' tickets for a price of ' + price + ' francs per-ticket. After the auction is over, you learn the tickets are blue.'
    //     }
    //     $('#question_text').html(question_text);
    //     correct_answer = answer_sequence[current_question];
    //     try_count = 0;
    // }
    //
    //
    //



    // $(document).ready(function () {
    //
    //     function()
    //
    //
    //     $('#Q1').on('click', function () {
    //         var answer = Number(document.getElementById("Q1_answer").value);
    //         var correct_answer = {{buyer_endowment}};
    //         var fH = {{fH}};
    //         var random_price = Math.floor((Math.random()*(fH+1)));
    //         var random_ticket_number = Math.floor(Math.random()*6)
    //         if (answer == correct_answer) {
    //             alert('Correct!');
    //             $('.q1').toggleClass('selected');
    //             $('#random_price').html(random_price);
    //             $('#random_ticket_number').html(random_ticket_number);
    //             $('.q2').toggleClass('selected1')
    //
    //         }
    //         else {
    //             alert('Incorrect! Please try again.');
    //         }
    //     })
    //
    //     $('#Q2').on('click', function () {
    //         var ticket_number = $('#random_ticket_number').text();
    //         var price = $('#random_price').text();
    //         var answer = Number($('#Q2_answer').val());
    //         var correct_answer = ticket_number*price+(5-ticket_number)*{{delta}}*{{fH}};
    //         if (answer == correct_answer) {
    //             alert('Correct!');
    //             $('.q2').toggleClass('selected1')
    //         }
    //         else {
    //             alert('Incorrect! Please try again.');
    //         }
    //     })
    //
    // });
</script>