<head>
    <style>

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        .selected {
            display: none !important;
        }

        .selected1 {
            display: inline !important;
        }

    </style>
</head>
<body>


<div  class = "q1" id="Question" style="display: inline;"> <a id="question_text"> </a> What are your earnings for the round?

<input type="number" id="answer">
<button type="button" id="submit" onclick="check_answer(current_question)"> Submit</button>

</div>



<!--<div  class = "q2" id="Question_2" style="display: none;">Question 2: Suppose that you are the seller and that you sell <a id="random_ticket_number"></a> green tickets for <a id="random_price"></a>. What will your earnings from the round be?-->
<!--<input type="number" id="Q2_answer">-->
<!--<button type="button" id="Q2"> Submit</button>-->
<!--</div>-->

<button id="next" style="display: none" disabled="true"> Next </button>

</body>

<script>
    var fH = {{fH}};
    var fL = {{fL}};
    var delta = {{delta}};
    var buyer_endowment = {{buyer_endowment}};
    var price = Math.floor(Math.random()*fH+1);
    var number_tickets = Math.floor(Math.random()*5+1);
    var keep_tickets = 5-number_tickets;

    var q0_ans = buyer_endowment;
    var q1_ans = price*number_tickets+delta*(5-number_tickets)*fH;
    var q2_ans = price*number_tickets+delta*(5-number_tickets)*fL;
    var q3_ans = 5*Math.floor(delta*fH);
    var q4_ans = 5*Math.floor(delta*fL);
    var q5_ans = buyer_endowment + number_tickets*(fH-price);
    var q6_ans = buyer_endowment + number_tickets*(fL-price);
    var q7_ans = fH;


    var current_question = 'no_win_buyer';
    var question_text = '';
    var question_sequence = [0,1,2,3,4,5,6];
    var answer_sequence = [q0_ans,q1_ans,q2_ans];
    var questions_left = question_sequence.length;
    // 0: if a buyer does not win the auction
    // 1: if a seller sells x>0 green tickets
    // 2: if a seller sells x>0 blue tickets
    // 3: if a seller sells 0 green tickets
    // 4: if a seller sells 0 blue tickets
    // 5: if a buyer purchases y>0 green tickets
    // 6: if a buyer purchases y>0 blue tickets
    // 7: What is the maximum possible per-ticket price?
    // 8: calculating payments
    var first_question = question_sequence[Math.floor(Math.random()*question_sequence.length)];
    current_question = first_question;
    var correct_answer = answer_sequence[first_question];

    var try_count = 0;

    function new_question(i,try_count,last_question){
        if (try_count == 0 && !last_question){
            question_sequence.splice(i,1);
            current_question = question_sequence[Math.floor(Math.random()*question_sequence.length)];
            console.log(question_sequence)
        }

        else if (try_count>0 && !last_question){
            var new_sequence = question_sequence.slice();
            new_sequence.splice(i,1);
            current_question =  new_sequence[Math.floor(Math.random()*new_sequence.length)];
        }
        else {
            current_question = i;
        }
        reset_random()
    }

    function reset_random(){
        price = Math.floor(Math.random()*fH+1);
        number_tickets = Math.floor(Math.random()*5+1);
        keep_tickets = 5-number_tickets;
        q1_ans = price*number_tickets+delta*(5-number_tickets)*fH;
        q2_ans = price*number_tickets+delta*(5-number_tickets)*fL;
        q5_ans = buyer_endowment + number_tickets*(fH-price);
        q6_ans = buyer_endowment + number_tickets*(fL-price);
        answer_sequence = [q0_ans,q1_ans,q2_ans,q3_ans,q4_ans,q5_ans,q6_ans];
    }


    function display_question(question){
        if (question == 0){
            question_text = 'Suppose you are a buyer, and you do not win the auction.';
        }
        if (question == 1){
            question_text = 'Suppose that you are a seller with green tickets and that you choose to sell ' + number_tickets
            + ' tickets for a price of ' + price + ' francs per-ticket.'
        }
        if (question == 2){
            question_text = 'Suppose that you are a seller with blue tickets and that you choose to sell ' + number_tickets
            + ' tickets for a price of ' + price + ' francs per-ticket.'
        }
        if (question == 3){
            question_text = 'Suppose that you are a seller with green tickets and that you choose to sell ' + 0
            + ' tickets.'
        }
        if (question == 4){
            question_text = 'Suppose that you are a seller with blue tickets and that you choose to sell ' + 0
            + ' tickets.'
        }
        if (question == 5){
            question_text = 'Suppose that you are a buyer, and you purchase ' + number_tickets
            + ' tickets for a price of ' + price + ' francs per-ticket. After the auction is over, you learn the tickets are green.'
        }
        if (question == 6){
            question_text = 'Suppose that you are a buyer, and you purchase ' + number_tickets
            + ' tickets for a price of ' + price + ' francs per-ticket. After the auction is over, you learn the tickets are blue.'
        }
        $('#question_text').html(question_text);
        correct_answer = answer_sequence[current_question];
        try_count = 0;
    }



    function check_answer(question){
        var answer = Number($('#answer').val());
        if (answer == correct_answer && questions_left==1 && (try_count==0 || question==0)){
            alert('Correct!' );
            $('.q1').toggleClass('selected');
            $('#next').css('display','inline');
            $('#next').prop('disabled',false);
        }
        else if (answer == correct_answer && questions_left==1 && try_count>0 && !(question==0)){
            alert('Correct!');
            new_question(question,try_count,true);
            display_question(current_question);

        }
        else if (answer == correct_answer && questions_left>1){
            alert('Correct!');
            if(try_count==0){
                questions_left -=1;
            }
            new_question(question,try_count,false);
            display_question(current_question);

        }
        else{
            alert('Incorrect. Please try again. ' + correct_answer );
            try_count += 1;
        }
    }
    display_question(current_question);


    // $(document).ready(function () {
    //
    //     function()
    //
    //
    //     $('#Q1').on('click', function () {
    //         var answer = Number(document.getElementById("Q1_answer").value);
    //         var correct_answer = {{buyer_endowment}};
    //         var fH = {{fH}};
    //         var random_price = Math.floor((Math.random()*(fH+1)));
    //         var random_ticket_number = Math.floor(Math.random()*6)
    //         if (answer == correct_answer) {
    //             alert('Correct!');
    //             $('.q1').toggleClass('selected');
    //             $('#random_price').html(random_price);
    //             $('#random_ticket_number').html(random_ticket_number);
    //             $('.q2').toggleClass('selected1')
    //
    //         }
    //         else {
    //             alert('Incorrect! Please try again.');
    //         }
    //     })
    //
    //     $('#Q2').on('click', function () {
    //         var ticket_number = $('#random_ticket_number').text();
    //         var price = $('#random_price').text();
    //         var answer = Number($('#Q2_answer').val());
    //         var correct_answer = ticket_number*price+(5-ticket_number)*{{delta}}*{{fH}};
    //         if (answer == correct_answer) {
    //             alert('Correct!');
    //             $('.q2').toggleClass('selected1')
    //         }
    //         else {
    //             alert('Incorrect! Please try again.');
    //         }
    //     })
    //
    // });
</script>