<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<style>

    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .table.no-border tr td, .table.no-border tr th {
        border-width: 0;
    }
    .column{
        height: auto;
    }
    .container-fluid {
        height: 140px;
        margin-bottom: 5px;
        padding-left: 0px;
    }
    .choice-text{
        margin-bottom: 0;
        margin-top: 15px
    }
    .page-header{
        margin-bottom: 0;
    }
    .button-container{
        margin-bottom: 15px;
        margin-top: 15px;
    }
</style>
<head>

</head>
<body>

<div class="row">
    <div class="column">
        <h3 class="choice-text"> Choose the number of <a style="color:green">green</a> tickets to sell. </h3>
<div class="container-fluid text-center">
    <hr class="button-container">
    <table class="table no-border">
        <tr>
            <th>
                <button id="green0" type="button" class="green btn btn-primary btn-large button2" data-id="0"
                        style="width:70px;height:60px;background-color:green; font-size:x-large">0
                </button>
            </th>
            <th>
                <button id="green1" type="button" class="green btn btn-primary btn-large button2" data-id="1"
                        style="width:70px;height:60px;background-color:green;font-size:x-large">1
                </button>
            </th>
            <th>
                <button id="green2" type="button" class="green btn btn-primary btn-large button2" data-id="2"
                        style="width:70px;height:60px;background-color:green;font-size:x-large">2
                </button>
            </th>
            <th>
                <button id="green3" type="button" class="green btn btn-primary btn-large button2" data-id="3"
                        style="width:70px;height:60px;background-color:green;font-size:x-large">3
                </button>
            </th>
            <th>
                <button id="green4" type="button" class="green btn btn-primary btn-large button2" data-id="4"
                        style="width:70px;height:60px;background-color:green;font-size:x-large">4
                </button>
            </th>
            <th>
                <button id="green5" type="button" class="green btn btn-primary btn-large button2" data-id="5"
                        style="width:70px;height:60px;background-color:green;font-size:x-large">5
                </button>
            </th>
        </tr>
    </table>
    <hr class="button-container">
    </div>

    <div style="padding-bottom:10px"> Your earnings from this round will be the sum of </div>
<div>
    <ul>
        <li style="padding-bottom:10px">Francs from the <a class="empty_space_green" style="color:white;border-bottom: 2px black dashed">&nbsp;&nbsp;</a>
            <a id="green_retain2" class="green-text b-text" style="display:none;font-weight: bold;">   </a> ticket<a id="gks">s</a> you keep: {{green_value}} &times;
            <a class="empty_space_green" style="border-bottom: 2px black dashed">&nbsp;&nbsp;</a>
            <a class="green-text b-text" id="green_retain" style="display:none;">   </a> =
            <a class="green-text b-text" id="green_calc" style="display:none"></a></li>
        <li>Francs from the <a class="empty_space_green"  style="border-bottom: 2px black dashed"> &nbsp;&nbsp;</a>
            <a class="green-text b-text" id="green_sell" style="display:none;font-weight: bold"> </a>
            ticket<a id="gs">s</a> you sell:
            (auction price) &times;  <a class="empty_space_green" style="color:white;border-bottom: 2px black dashed">&nbsp;&nbsp;</a>
            <a class="green-text b-text" id="green_keep" style="display:none"> </a></li>
    </ul>
</div>


</div>


    <div class="column">
        <h3 class="choice-text"> Choose the number of <a style="color:blue">blue</a> tickets to sell. </h3>

<div class="container-fluid text-center">

    <hr class="button-container" >
    <table class="table no-border">
        <tr>
            <th>
                <button id="blue0" type="button" class="blue btn btn-primary btn-large button2" data-id="0"
                        style="width:70px;height:60px;background-color:blue;font-size:x-large">0
                </button>
            </th>
            <th>
                <button id="blue1" type="button" class="blue btn btn-primary btn-large button2" data-id="1"
                        style="width:70px;height:60px;background-color:blue;font-size:x-large">1
                </button>
            </th>
            <th>
                <button id="blue2" type="button" class="blue btn btn-primary btn-large button2" data-id="2"
                        style="width:70px;height:60px;background-color:blue;font-size:x-large">2
                </button>
            </th>
            <th>
                <button id="blue3" type="button" class="blue btn btn-primary btn-large button2" data-id="3"
                        style="width:70px;height:60px;background-color:blue;font-size:x-large">3
                </button>
            </th>
            <th>
                <button id="blue4" type="button" class="blue btn btn-primary btn-large button2" data-id="4"
                        style="width:70px;height:60px;background-color:blue;font-size:x-large">4
                </button>
            </th>
            <th>
                <button id="blue5" type="button" class="blue btn btn-primary btn-large button2" data-id="5"
                        style="width:70px;height:60px;background-color:blue;font-size:x-large">5
                </button>
            </th>
        </tr>
    </table>
    <hr class="button-container">
</div>
<div style="padding-bottom:10px"> Your earnings from this round will be the sum of </div>
<div>
    <ul>
        <li style="padding-bottom:10px">Francs from the <a class="empty_space_blue" style="color:white;border-bottom: 2px black dashed">&nbsp;&nbsp;</a>
            <a id="blue_retain2" class="blue-text b-text" style="display:none;font-weight: bold">   </a> ticket<a id="bks">s</a> you keep: {{blue_value}} &times;
            <a class="empty_space_blue" style="border-bottom: 2px black dashed">&nbsp;&nbsp;</a>
            <a class="blue-text b-text" id="blue_retain" style="display:none;">   </a> =
            <a class="blue-text b-text" id="blue_calc" style="display:none"></a></li>
        <li>Francs from the <a class="empty_space_blue"  style="border-bottom: 2px black dashed"> &nbsp;&nbsp;</a>
            <a class="blue-text b-text" id="blue_sell" style="display:none;font-weight: bold"> </a>
            ticket<a id="bs">s</a> you sell:
            (auction price) &times;  <a class="empty_space_blue" style="color:white;border-bottom: 2px black dashed">&nbsp;&nbsp;</a>
            <a class="blue-text b-text" id="blue_keep" style="display:none"> </a></li>
    </ul>
</div>

</div>

</div >
<div class="text-center">

    <button id="confirm" class="b btn btn-primary btn-lg  button2" id='confirm'
        style="align-self:center; width:30%;height:40px; border-radius:15px;margin-bottom:10px; display:none;
        background-color:darkslategray;font-size:large" disabled=true
        >Confirm</button>
    <input type="hidden" id="green_choice" name="quantity_choice_green" value=-1>
    <input type="hidden" id="blue_choice" name="quantity_choice_blue" value=-1>
</div>
    <hr style="margin-top:2px; margin-bottom: 0">

</body>


<script>
    var seconds = Math.random() * 5000;
    var seconds_blue = seconds+ Math.random()*5000;
    var confirm = seconds_blue+Math.random()*5000;
    var push = {{push}};

    if (push){
    window.onload = function () {
        var delayInMilliseconds = seconds; //1 second
        var gr=  Math.floor(Math.random() * 6);
        var gb=  Math.floor(Math.random() * 6);
        var gbutton = 'green'+ gr.toString();
        var bbutton = 'blue'+ gb.toString();

        setTimeout(function () {
            document.getElementById(gbutton).click()
        }, delayInMilliseconds);

        setTimeout(function () {
            document.getElementById(bbutton).click()
        },seconds_blue);

        setTimeout(function () {
            document.getElementById('confirm').click()
        },confirm)

    };}


    $(document).ready(function () {
        var click_count = 0;
        var green_clicked = false;
        var blue_clicked = false;
        $('.green').hover(function () {
            var id = $(this).attr('data-id');
            var num = {{Constants.Q}}-id;
            document.getElementById('green_sell').innerHTML = id;
            document.getElementById('green_retain2').innerHTML = num;
            document.getElementById('green_retain').innerHTML = num;
            document.getElementById('green_keep').innerHTML = id;
            document.getElementById('green_calc').innerHTML = num*{{green_value}};
            $('.empty_space_green').hide();
            $('.green-text').show();
            if (num == 1){
                $('#gks').hide()
            }
            if (num==4){
                $('#gs').hide()
            }
        }, function () {
            if (!green_clicked){
                $('.green-text').hide();
                $('.empty_space_green').show();
                $('#gks').show();
                $('#gs').show();
            }
        }).on('click', function () {
            if (!green_clicked){
                var id = $(this).attr('data-id');
                var num = {{Constants.Q}}-id;
                $('#green_retain').innerHTML = {{Constants.Q}}-id;
                $('#green_keep').innerHTML = id;
                $('#green_calc').innerHTML = num*{{green_value}};
                $('#green_choice').attr('value',id);
                $('.green-text').show();
                $('.green').prop('disabled',true);
                $(this).css('border-color','orangered');
                $(this).css('border-width','medium');
                $(this).prop('disabled',false);
                green_clicked = true;
                click_count += 1;
                if (click_count==2){
                    $('#confirm').css('display','inline');
                    $('#confirm').prop('disabled',false)
                }
            }
            else {
                green_clicked = false;
                $(this).css('border-color','green');
                $('.green').prop('disabled',false);
                click_count -= 1;
                $('#confirm').css('display','none');
                $('#confirm').prop('disabled',true);
            }

        });

        $('.blue').hover(function () {
            var id = $(this).attr('data-id');
            var num = {{Constants.Q}}-id;
            document.getElementById('blue_sell').innerHTML = id;
            document.getElementById('blue_retain2').innerHTML = num;
            document.getElementById('blue_retain').innerHTML = {{Constants.Q}}-id;
            document.getElementById('blue_keep').innerHTML = id;
            document.getElementById('blue_calc').innerHTML = num*{{blue_value}};
            $('#empty_space_blue').hide();
            $('.blue-text').show();
            $('.empty_space_blue').hide();
            if (num == 1){
                $('#bks').hide()
            }
            if (num==4){
                $('#bs').hide()
            }
        }, function () {
            if (!blue_clicked){
                $('.empty_space_blue').show();
                $('.blue-text').hide();
                $('#bks').show();
                $('#bs').show();}
        }).on('click', function () {
            if (!blue_clicked){
                var id = $(this).attr('data-id');
                var num = {{Constants.Q}}-id;
                document.getElementById('blue_retain').innerHTML = {{Constants.Q}}-id;
                document.getElementById('blue_keep').innerHTML = id;
                document.getElementById('blue_calc').innerHTML = num*{{blue_value}};
                $('#blue_choice').attr('value',id);
                $('.blue-text').show();
                $('.blue').prop('disabled',true);
                $(this).css('border-color','orangered');
                $(this).css('border-width','medium');
                $(this).prop('disabled',false);
                blue_clicked = true;
                click_count += 1;
                if (click_count==2){
                    $('#confirm').css('display','inline');
                    $('#confirm').prop('disabled',false)
                }
            }
            else {
                blue_clicked = false;
                $(this).css('border-color','blue');
                $('.blue').prop('disabled',false);
                click_count -= 1;
                $('#confirm').css('display','none');
                $('#confirm').prop('disabled',true);
            }

        });

    });
</script>
